html,
body {
    height: 100%;
	background-image: url("/project/web/backk.jpg");
	background-repeat: repeat;
	background-size: 100%;
}

.wrap {
    min-height: 100%;
    height: 80%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
	background-image: url("/project/web/backk.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.container {
	text-align: center;
}

.table tr {
	border: 2px solid;
	border-color: rgb(237, 209, 180);
}

.employee-index th{
	border: 2px solid;
	background-color: rgb(237, 209, 180);
	border-color: rgb(237, 209, 180);
	text-align: center;
}

.employee-index tr td{
	
	border: 2px solid;
	border-color: rgb(237, 209, 180);
}

.eployee-index {
	position: relative;
	height: 100%;
}

.customer-index {
	position: relative;
	height: 100%;
}

.customer-index th{
	border: 2px solid;
	background-color: rgb(237, 209, 180);
	border-color: rgb(237, 209, 180);
	text-align: center;

}

.customer-index tr td{
	
	border: 2px solid;
	border-color: rgb(237, 209, 180);
}

.orders-index {
	position: relative;
	height: 100%;
}

.orders-index tr td{
	
	border: 2px solid;
	border-color: rgb(237, 209, 180);
}

.orders-index th{
	border: 2px solid;
	background-color: rgb(237, 209, 180);
	border-color: rgb(237, 209, 180);
	text-align: center;
}

.menuitem-index {
	position: relative;
	height: 100%;
}

.menuitem-index tr td{
	
	border: 2px solid;
	border-color: rgb(237, 209, 180);
}

.menuitem-index th{
	border: 2px solid;
	background-color: rgb(237, 209, 180);
	border-color: rgb(237, 209, 180);
	text-align: center;
}

.inventoryorders-index {
	position: relative;
	height: 100%;
}

.inventoryorders-index tr td{
	
	border: 2px solid;
	border-color: rgb(237, 209, 180);
}

.inventoryorders-index th{
	border: 2px solid;
	background-color: rgb(237, 209, 180);
	border-color: rgb(237, 209, 180);
	text-align: center;
}

.ingredients-index {
	position: relative;
	height: 100%;
}

.ingredients-index tr td{
	
	border: 2px solid;
	border-color: rgb(237, 209, 180);
}

.ingredients-index th{
	border: 2px solid;
	background-color: rgb(237, 209, 180);
	border-color: rgb(237, 209, 180);
	text-align: center;
}

#w5 li a{
    color: black;
	background-color: rgb(237, 139, 116);
}

#w0 button:hover {
    background-color: rgb(237, 209, 180);
}

#w0 button {
    background-color: rgb(237, 139, 116);
	border-color: rgb(237, 139, 116);
}

#w1 button:hover{
	background-color: rgb(237, 139, 116);
}

#w1 button:focus {
	background-color: rgb(237, 139, 116);
	outline: none;
}

#w5 button:focus {
	background-color: rgb(237, 139, 116);
	outline: none;
}

#login-form button {
	background-color: rgb(237, 139, 116);
	border-color: rgb(237, 139, 116);
}

#login-form button:hover{
	background-color: rgb(237, 139, 116);
}

#login-form button:focus {
	background-color: rgb(237, 139, 116);
	outline: none;
}

#w1 button{
	color: black;
}

#w5 button{
    color: black;
}

#w0 a{
	color: black;
}

#w1 a {
    color: black;
}

#w4 a {
    color: black;
}

#w3 a {
    color: black;
}

#w1 li a {
	background-color: rgb(237, 139, 116);
}

#w8 li a {
	background-color: rgb(237, 139, 116);
	color: black;
}

#w8 button{
	color: black;
}

#w8 button:hover{
	background-color: rgb(237, 139, 116);
}

#w8 button:focus {
	background-color: rgb(237, 139, 116);
	outline: none;
}

#w7 a{
    color: black;
}

.wrap > .navbar {
	background-color: rgb(237, 139, 116);
	border: 0;
	
	
}

.employee-index p a {
	background-color: rgb(237, 139, 116);
	border: 0;
}

.employee-index p a:hover {
	background-color: rgb(237, 209, 180);
}

.btn.btn-success {
	background-color: rgb(237, 139, 116);
	border: 0;
}

.btn.btn-success:active {
	background-color: rgb(237, 209, 180);
}

.btn.btn-success:focus {
	background-color: rgb(237, 209, 180);
}

.inventoryorders-index p a {
	background-color: rgb(237, 139, 116);
	border: 0;
}

.inventoryorders-index p a:hover {
	background-color: rgb(237, 209, 180);
}

.customer-index p a {
	background-color: rgb(237, 139, 116);
	border: 0;
}

.customer-index p a:hover {
	background-color: rgb(237, 209, 180);
}

.ingredients-index p a {
	background-color: rgb(237, 139, 116);
	border: 0;
}

.ingredients-index p a:hover {
	background-color: rgb(237, 209, 180);
}

.menuitem-index p a {
	background-color: rgb(237, 139, 116);
	border: 0;
}

.menuitem-index p a:hover {
	background-color: rgb(237, 209, 180);
}

.orders-index p a {
	background-color: rgb(237, 139, 116);
	border: 0;
}

.orders-index p a:hover {
	background-color: rgb(237, 209, 180);
}

#orders-orderdate {
	padding: 5px 45px;
}

#employee-startdate {
	padding: 5px 45px;
}

#employee-enddate {
	padding: 5px 45px;
}

.footer {
    height: 40px;
	position:fixed;
	left:0px;
	bottom:0px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 10px;
	width: 100%;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}


/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-nav.navbar-right.nav {
	background-color: rgb(237, 139, 116);
}
